<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">Uzhavar Sandhai</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" type="button" (click)="isMenuCollapse = !isMenuCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" [ngClass]="{'collapse': isMenuCollapse}"  (click)="isMenuCollapse = !isMenuCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item"  routerLinkActive="active">
            <a class="nav-link" routerLink="/marketlist">Market List</a>
          </li>
          <li class="nav-item"  routerLinkActive="active">
            <a class="nav-link" routerLink="/contact">Contact</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
