
  <div class="container alert">
      <div class="row" style="align-items: center;">
        <img style="width: 50%; height: 50%;" class="center-block"  src="../../assets/img/sandhai.jpg" />
      </div>
  </div>

  <div class="container">
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">Welcome to Uzhavar Sandhai!</h4>
      <p>Help our farmers to procure vegetables directly from them. For market (Sandhai) detail use our <a routerLink="/marketlist">Market List</a></p>
      <hr>
      <p class="mb-0">More content comes here.</p>
    </div>
  </div>
